@import "styles/media";
@import "styles/variables";
@import "styles/media";

.App {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 40px var(--container-padding-x);
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    user-select: none;

    @include mobile-s {
        padding: 20px calc(var(--container-padding-x) / 8);
        min-width: var(--min-container-width);
        max-width: var(--container-width);
    }
}
